<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar left-elements">
                <%- include('navbar', { links: links }) %>
            </div>

            <div class="right-elements">
                <div class="header">
                    <%- include('header', { pageName: Home}) %>
                </div>

                <main class="muscle-home-main">
                    <div style="max-height: 300px; overflow-y: auto;">
                        <table>
                            <thead>
                            <tr><th>Muscle Name</th></tr>
                            </thead>
                            <tbody>
                            <% muscles.forEach(m => { %>
                                <tr><td><%= m.muscle_group_name %></td></tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>