<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Muscle Home Page</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar left-elements">
                <%- include('navbar', { links: links }) %>
            </div>

            <div class="right-elements">
                <div class="header">
                    <%- include('header', { pageName: "Home"}) %>
                </div>

                <main class="muscle-home-main">
                    <div class="form-section">
                        <h2 class="form-title">Search Muscles</h2>
                        <form action="/muscles/search" method="GET">
                            <label for="searchPhrase">Name:</label>
                            <input type="text" name="phrase" id="searchPhrase" required>
                            
                            <label for="muscleMode">Search by Muscle Name</label>
                            <input type="radio" name="mode" id="muscleMode" value="muscle">

                            <label for="exerciseMode">Search by Use in An Exercise</label>
                            <input type="radio" name="mode" id="exerciseMode" value="exercise">

                            <button>Search</button>
                        </form>
                    </div>

                    <div style="max-height: 300px; overflow-y: auto;">
                        <table>
                            <thead>
                            <tr><th>Muscle Name</th></tr>
                            </thead>
                            <tbody>
                            <% muscles.forEach(m => { %>
                                <tr><td><%= m.muscle_group_name %></td></tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>

                    //form validation needed

                    <div class="form-section">
                        <h2 class="form-title">Add Muscle</h2>
                        <form action="/muscles/add" method="POST">
                            <label for="createPhrase">Muscle Name:</label>
                            <input type="text" name="muscleName" id="createPhrase" required>

                            <button>Create Muscle</button>
                        </form>
                    </div>

                    //form validation needed

                    <div class="form-section">
                        <h2 class="form-title">Update Muscle</h2>
                        <form action="/muscles/update" method="PUT">
                            <label for="muscleToUpdate">Muscle To Update:</label>
                            <input type="text" name="currName" id="muscleToUpdate" required>

                            <label for="newMuscleName">New Muscle Name:</label>
                            <input type="text" name="newName", id="newMuscleName" required>

                            <button>Update Muscle</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>