<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar left-elements">
                <%- include('navbar', { links: links }) %>
            </div>

            <div class="right-elements">
                <div class="header">
                    <%- include('header', { pageName: "Home"}) %>
                </div>

                <main class="index-main">
                    <div class="card">
                        <h2>Total Muscles</h2>
                        <p><%= musclesCount %></p>
                    </div>

                    <div class="card">
                        <h2>Total Exercises</h2>
                        <p><%= exercisesCount %></p>
                    </div>
                </main>
            </div>
        </div>

    </body>
</html>