<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar left-elements">
                <%- include('navbar', { links: links }) %>
            </div>

            <div class="right-elements">
                <div class="header">
                    <%- include('header', { pageName: "Home"}) %>
                </div>

                <main class="index-main">
                    <h1>Welcome back! Let's keep your training organized!</h1>

                    <div class="card">
                        <h2>Total Muscles</h2>
                        <h1><%= musclesCount %></h1>
                        <p class="card-description">The total number of distinct muscles currently stored in your database. 
                            Use this to track how complete your muscle reference library is.
                            Every muscle tracked here helps you understand your body better.
                            Keep building your library to master full-body training!
                        </p>
                        
                    </div>

                    <div class="card">
                        <h2>Total Exercises</h2>
                        <h1><%= exercisesCount %></h1>
                        <p class="card-description">The total number of exercises logged so far.
                            Add new ones as you explore new movements and routines!
                        </p>
                    </div>
                </main>
            </div>
        </div>

    </body>
</html>