*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
}

.navbar{
    background-color:#6d4f3e;
    height:100vh;
}

.navbar-item{
    display:flex;
    align-items:center;
    gap: 12px;
    padding:16px;
}

.navbar-item a{
    text-decoration:none;
    color:#edd0c4;
    font-size:20px;
}

.navbar div img{
    width:20px;
    height:auto;
}

img + a{
    margin-left:15px;
}

.normal-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.right-elements {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    background-color: #1e1b19;
    color:#c0b3a5;
    max-width: 100%;
    padding:20px;
    /* box-shadow: 0 15px 12px rgba(0,0,0,0.5); */
}

body {
    background-color: #f0ebe7;
}

/* index main section */

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:12px;
}

.card {
    background-color: #fff;
    margin:12px;
    padding:20px;
    width:75%;
    height:16em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.4s;
    border-radius:10px;
    cursor: pointer;
}

.card-description {
    font-size: 1.5rem;
}

/* home muscle main section */

.muscle-home-main,
.exercise-home-main {
    padding: 1.25rem;
}

.muscle-layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.muscle-left, .muscle-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-section,
.table-container {
  background: #fff;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #3b2f2f;
}


form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

button {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  background: #3b2f2f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #5a4230;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

/* home-exercise-page */

.exercise-layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.exercise-left,
.exercise-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* home-exercise-pair-page */


.exercise-pair-main {
  padding: 1.25rem;
}

.exercise-pair-layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.exercise-pair-left,
.exercise-pair-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

