*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.navbar{
    background-color:#6d4f3e;
    height:100vh;
}

.navbar div{
    display:flex;
    align-items:center;
}

.navbar div a{
    text-decoration:none;
    color:#edd0c4;
    font-size:20px;
}

.navbar div img{
    width:20px;
    height:auto;
}

img + a{
    margin-left:15px;
}

.right-elements {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1e1b19;
    color:#c0b3a5;
    width:100vw;
    padding:20px;
    box-shadow: 0 15px 12px rgba(0,0,0,0.5);
}

body {
    background-color: #f0ebe7;
}