*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.navbar{
    display:grid;
    grid: repeat(4, 50px) / 200px;
}

.navbar div{
    display:flex;
    align-items:center;
}

.navbar div a{
    text-decoration:none;
    color:#edd0c4;
    font-size:20px;
}

.navbar div img{
    width:20px;
    height:auto;
}

img + a{
    margin-left:15px;
}

.right-elements {
    display: flex;
    flex-direction: column;
}
